.button{
    height: 50px;
    border-radius: 8px;
    padding: 0 32px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #835AFD;
    color: #FEFEFE;
    cursor: pointer;
    transition: filter 0.2s;

    > img {
        margin-right: 7px;
    }

    &:not(:disabled):hover{
        filter: brightness(0.9);
    }

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed
    }
}