.room-code{
    height: 40px;
    border-radius: 8px;
    overflow: hidden;

    background: #FFF;
    border: 1px solid #835afd;
    cursor: pointer;

    display: flex;

    > div{
        background: #835afd;
        padding: 0 12px;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    span{
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 20%;
        font-size: 14px;
        font-weight: 500;
    }
}

@media (max-width: 600px) {
    .room-code{
        width: 240px;
    }
}

@media (max-width: 466px) {
    .room-code{
        width: 230px;
    }
}
@media (max-width: 430px) {
    .room-code{
        width: 210px;
    }
}
@media (max-width: 400px) {
    .room-code{
        width: 190px;
    }
}
@media (max-width: 380px) {
    .room-code{
        width: 170px;
    }
}